:root {
    --color-orage-peel: #FFA500;
    --color-tangerine: #ff6700;
    --color-burnt-orange: #CC5500;
    --color-pumpkin: #FF7518;
}


/* Button */

.btn.btn-1 {
    border: none;
    color: white;
    background-color: var(--color-tangerine);
    padding: 1rem 2rem;
    font-size: 24px;
    border-radius: 1rem;
}

.btn.btn-1:hover {
    background-color: var(--color-orage-peel);
}

.btn.btn-circle {
    border: none;
    border-radius: 100%;
    color: var(--color-orage-peel);
    background-color: var(--color-tangerine);
}

.btn.btn-circle:hover {
    color: var(--color-tangerine);
    background-color: var(--color-orage-peel);
}

.btn.btn-circle-2 {
    border: none;
    border-radius: 100%;
    color: var(--color-tangerine) !important;
    background: rgba(255, 255, 255, 0.8) !important;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}


/* Color */

.color-tangerine {
    color: var(--color-tangerine);
}

.color-orange-peel {
    color: var(--color-orage-peel);
}

.bg-orange-peel {
    background-color: var(--color-orage-peel);
}

.bg-pumpkin {
    background-color: var(--color-pumpkin);
}


/* Font */

.font-poppins {
    font-family: "Poppins", sans-serif;
}

.font-opensans {
    font-family: "Open Sans", sans-serif;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    color: white
}

.text-justify {
    text-align: justify;
}

a {
    color: inherit
}


/* Styles */

.span-orange {
    color: white;
    background-color: var(--color-tangerine);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 12px;
}

section .section {
    min-height: 100svh;
}

.content-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    position: relative;
    color: white;
    margin-bottom: 3rem;
}

.content-header::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100px;
    height: 4px;
    background-color: var(--color-burnt-orange);
}

.list-group-item.active {
    font-weight: 700;
    color: var(--color-burnt-orange);
}

.side-nav {
    height: 100svh;
    width: 250px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -250px;
    transition: all 0.5s;
}

.img-display {
    object-fit: cover;
    background-color: white;
    object-position: top;
    border-radius: 1rem;
}

.img-display.max-height {
    height: 400px;
}

.img-display.max-height-2 {
    max-height: 350px;
}

.side-nav.open {
    left: 0;
}

.side-nav-toggle {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.img-circle {
    object-fit: cover;
    object-position: center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 5px var(--color-orage-peel);
    -moz-box-shadow: 0 0 0 5px var(--color-orage-peel);
    box-shadow: 0 0 0 5px var(--color-orage-peel);
}

.offcanvas {
    width: auto;
}

.bg-glass {
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
}

.border-bottom-1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 767px) {
    section .section.home h1 {
        font-size: 50px;
    }
}

@media screen and (min-width: 991px) {
    .side-nav {
        left: 0;
    }
    section {
        margin-left: 250px;
    }
    section .section.home h1 {
        font-size: 60px;
    }
}